{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper">
    <div class="content-wrapper">
        <div class="row" style="padding-left:2%;padding-top:2%">
            {% if (app.user.fluxSortants|length) < 1   %}
                <div class="col-lg-10">
                    <div class="card">
                        <h3 class="card-header"> Flux sortant  </h3>  
                        <div class="card-body">
                            {{ include('flux_sortant/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
 {% include "link/link_js.html.twig" %}  
{% endblock %}