{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper">
  <div class="content-wrapper">
    <div class="row" style="padding-left:2%;padding-top:2%">

            <div class="col-lg-10">
                <div class="card">
                  <h3 class="card-header"> <strong style="font-size:20px"> Demande "A QUI DE DROIT"  </strong> </h3> 
                    <div class="card-body">
                        {{ include('droit/_form.html.twig') }}
                    </div>
                      {% for msg in app.flashes('success') %}
                      <div class="card-footer">
                      
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                              <strong>  {{msg }} </strong> 
                          </div>
                          <script>
                            $(".alert").alert();
                          </script>
                              
                          </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
