<form method="post" action="{{ path('information_bac_delete', {'id': information_bac.id}) }}" onsubmit="return confirm('Etes-vous sure de suprimer tes informations ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ information_bac.id) }}">
    <button class="btn btn-danger">suprimer</button>
</form>
