<form method="post" action="{{ path('responsable_delete', {'id': responsables.id}) }}" onsubmit="return confirm('Etes vous sure de supprimer le responsable ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ responsable.id) }}">
    <button class="btn btn-danger btn-sm">Suprimer</button>
</form>
