{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper">
  <div class="content-wrapper">
        <div class="row" style="padding-left:2%;padding-top:2%">
          <div class="col-md-8">
            <div class="card card-success">
              <div class="card-header">
               <strong> Gestion document  </strong>
               
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                 {{ include('document/_form.html.twig') }}
             </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
