{% include 'link/nav.html.twig' %}
{% include 'link/link_css.html.twig' %}
    <div class="container">
                <div class="row" style="padding-top:13%">
                    <div class="col-lg-10">
                        <div class="au-card au-card--no-shadow au-card--no-pad m-b-40" style="border:2px solid rgb(55 , 205 , 255); ">
                            <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
                                <div class="bg-overlay bg-overlay--blue"></div>
                                    <h3> <i class="zmdi zmdi-account-calendar"></i>Editer votre candidature  </h3>
                                </div>
                                <div class="au-task js-list-load">
                                    <div class="au-task__title">
                                        <p style="color:red ; font-size:18px" >Tous les champs sont obligatoire * </p>
                                    </div>
                                        <div class="card-body">
                                            {{ include('candidature/_form.html.twig') }}
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('link/footer.html.twig') }}   

</body>

</html>
<!-- end document-->
